nav {
  display: flex;
  flex-direction: row;;
  gap: var(--space-6);
  padding: var(--space-4) var(--space-8);
  border-bottom: var(--border-width) solid var(--color-border);
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
  font-size: var(--text-xl);
  justify-self: center;
}

nav h4 {
  margin: 0;
  font-size: var(--text-sm);
}

nav a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
