.hint-numbers {
  display: flex;
  align-items: center;
  gap: calc(var(--base-size) * 0.5);
}

.hint-numbers.vertical {
  flex-direction: column;
  justify-content: flex-end;
  min-height: var(--size-hint-area);
  text-align: center;
}

.hint-numbers.horizontal {
  flex-direction: row;
  justify-content: flex-end;
  min-width: var(--size-hint-area);
  text-align: right;
  min-height: auto;
}

.hint-numbers span {
  margin: 0;
  color: var(--color-text-muted);
  white-space: nowrap;
}

.hint-numbers del {
  color: var(--color-text-disabled);
}

.hint-numbers.puzzle-size-10.horizontal {
  min-width: calc(var(--size-hint-area) * 1);
}

.hint-numbers.puzzle-size-10.vertical {
  min-height: calc(var(--size-hint-area) * 1);
}

.hint-numbers.puzzle-size-15.horizontal {
  min-width: calc(var(--size-hint-area) * 1.5);
}

.hint-numbers.puzzle-size-15.vertical {
  min-height: calc(var(--size-hint-area) * 1.5);
}

.hint-numbers.puzzle-size-20.horizontal {
  min-width: calc(var(--size-hint-area) * 2);
}

.hint-numbers.puzzle-size-20.vertical {
  min-height: calc(var(--size-hint-area) * 2);
}

.hint-numbers.puzzle-size-25.horizontal {
  min-width: calc(var(--size-hint-area) * 2.5);
}

.hint-numbers.puzzle-size-25.vertical {
  min-height: calc(var(--size-hint-area) * 2.5);
}